@import "../variables.scss";

.date-button {
  font-size: 1.2rem;
  background-color: $primary-theme-darker;
  border: 2px solid $primary-theme-darker;
  color: white;
  font-family: $roboto-font;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px;
  padding: 5px 20px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 2px solid $secondary-theme;
  }
}

.calendar {
  background-color: $primary-theme;
  border: 4px solid $primary-theme-border-clr;
}
