@import "../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.progress-container {
  height: 140px;
  width: 140px;
  border: 10px solid $secondary-theme;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 5rem;
}

.count {
  color: $secondary-theme;
  position: absolute;
  margin-top: 100px;
  user-select: none;
}

.task-name {
  text-transform: uppercase;
}

.task-complete {
  background-color: white;
  border-color: white;
  .icon {
    color: black;
  }
  .count {
    color: $primary-theme;
  }
}
