.heading {
  text-align: center;
  margin-bottom: 4rem;
  padding-top: 3rem;
  h1 {
    margin-top: 0;
  }
}

.tasks-container {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 600px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
