$primary-theme: #f66f4d;
$secondary-theme: darken($primary-theme, 31%);
$font-color: white;
$primary-theme-darker: #e46544;
$primary-theme-border-clr: #dc6141;

$roboto-font: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
